<!DOCTYPE html>
<html>
    <head>
        <title>Hello Angular</title>
        <script src= "libs/angular/angular.min.js"></script>
    </head>
    <body>

        <div ng-app="myApp" ng-controller="namesCtrl"> 

            <input type="text" ng-model='newperson.name'/>
            <input type="text" ng-model='newperson.country'/>
            <button ng-click='add()'>Add</button>

            <ul>
                <li ng-repeat="x in people">
                    {{ x.name + ', ' + x.country }}
                </li>
            </ul>

        </div>

        <script>
            angular.module('myApp', []).controller('namesCtrl', function($scope) {
                $scope.people = [
                    {name:'Jani',country:'Norway'},
                    {name:'Hege',country:'Sweden'},
                    {name:'Kai',country:'Denmark'}
                ];

                $scope.add = function(){
                    $scope.people.push($scope.newperson);
        
                    $scope.newperson=[];
                }
            }); 
        </script>
    </body>
</html>